@charset "UTF-8";

/* 共通 */
.images {
    display: flex;
}

.SEEDImage,
.FafnerImage {
    border-radius: 5px;
    box-shadow: 10px 10px 15px rgba(39, 38, 38, 0.5);
}

.phoneWrapper {
    display: none;
}

/* ノートパソコン */
@media screen and (min-width: 481px) and (max-width: 1366px) {

    .SEEDImage,
    .FafnerImage {
        margin-left: 20px;
        margin-top: 100px;
    }

    .FafnerImage {
        rotate: -10deg;
        height: 250px;
        width: auto;
    }

    .SEEDImage {
        height: 200px;
        width: auto;
        margin-left: 80px;
        rotate: 20deg;
        object-fit: contain;
    }
}

/* モニタ */
@media screen and (min-width: 1367px) {

    .SEEDImage,
    .FafnerImage {
        margin-left: 26px;
        margin-top: 130px;
    }

    .FafnerImage {
        rotate: -10deg;
        height: 380px;
        width: auto;
    }

    .SEEDImage {
        height: 320px;
        width: auto;
        margin-left: 160px;
        rotate: 20deg;
        object-fit: contain;
    }

}

/* スマホ */
@media screen and (max-width: 480px) {

    .SEEDImage,
    .FafnerImage {
        display: none;
    }

    .phoneWrapper {
        display: block;
        margin-top: 30px;
    }


    .goToBlog,
    .goToProfile {
        display: block;
        text-align: center;
        background-color: var(--btn);
        width: 200px;
        margin: 0 auto;
        padding: 10px 20px;
        border-radius: 5px;
    }

    .goToProfile {
        display: block;
        text-align: center;
        background-color: var(--btn);
        width: 220px;
        margin: 40px auto;
        padding: 10px 20px;
        border-radius: 5px;
    }
}